.header-container {
  position: absolute;
  text-align: center;
  top: -15vw;

  .header-menu {
    letter-spacing: 1px;
    font-family: "Syncopate", sans-serif;
    color: white;
    font-weight: 600;
    text-transform: uppercase;

    li {
      margin: 10px 0;
    }
  }

  h1 {
    font-size: 14vw;
    text-transform: uppercase;

    font-weight: 600;
  }
}
.lineParent {
  overflow: hidden;
  .lineChildren {
    transform: translate(0, 500px);
  }
}
.intro {
  padding: 10vh 2rem 10vh;
  position: absolute;
  margin-bottom: 2rem;
}

.intro__title {
  grid-area: title;
  font-family: widescreen-ex, sans-serif;
  font-weight: 800;
  font-size: clamp(2rem, 12vw, 10rem);
  line-height: 1;
  margin: 0;
}

.intro__title span {
  text-transform: uppercase;
  -webkit-text-stroke: 1px white;
  text-stroke: 1px white;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  color: transparent;
  text-shadow: -10px 10px 0 white;
}

.intro__title em {
  font-family: park-lane, serif;
  font-weight: 300;
  font-style: normal;
  display: block;
  margin: -1vw 0 0 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: clamp(2rem, 10vw, 10rem);
  -webkit-text-stroke: 1px white;
  text-stroke: 1px white;
  -webkit-text-fill-color: var(--color-bg);
  text-fill-color: var(--color-bg);
  color: var(--color-bg);
}

.intro__description {
  margin: 1.75vw 0 0 0;
  grid-area: desc;
  font-weight: 500;
  font-size: clamp(1rem, 2vw, 1.25rem);
  max-width: 350px;
  color: white;
}

.intro__button {
  grid-area: button;
  border: 1px solid var(--color-text);
  background: white;
  box-shadow: 1px 2px 0 blue;
  font-size: 1.25rem;
  padding: 1rem 2rem;
  border-radius: 1.25rem;
  justify-self: end;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 1rem;
}

.intro__button:hover,
.intro__button:focus {
  transform: translate3d(1px, 2px, 0);
  box-shadow: 0px 0px 0 white;
}
